@{
    ViewData["Title"] = "Loan Calculator";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to the Loan Calculator App. Please submit your loan principal amount, loan term, and interest rate to see your monthly payment and amoritization table.</p>
