@{
    ViewData["Title"] = "Loan Calculator";
}
@* <h1>@ViewData["Title"]</h1> *@
@* *@
@* <p>Welcome to the Loan Calculator App. Please submit your loan principal amount, loan term, and interest rate to see your monthly payment and amoritization table.</p> *@



<div>
<main class="flex-shrink-0">
    <div class="container mt-5">
        <div class="row">
            <h1 class="appTitle">SoCal Home Buyer</h1>
            <h2 class="lead appTitle fst-italic">A Loan Calculator</h2>
            <div class="col formBackground rounded">
                <div class="form-group">
                    <label for="loanAmount">Loan Amount</label>
                    <input type="number" name="Loan Amount" id="loanAmount"
                           class="form-control" aria-describedby="Loan Amount">
                </div>
                <div class="form-group">
                    <label for="loanTerm">Loan Term <i>(in months)</i></label>
                    <input type="number" name="Loan Term" id="loanTerm" class="form-control"
                           aria-describedby="Loan Term">
                </div>
                <div class="form-group">
                    <label for="interestRate">Interest Rate</label>
                    <input type="number" name="Interest Rate" id="interestRate"
                           class="form-control" aria-describedby="Interest Rate">
                </div>
                <div class="d-flex justify-content-end mt-3 p-3">
                    <button class="button btn btn-outline-info" type="button"
                            id="btnSubmit">
                        Calculate
                    </button>
                </div>
            </div>

            <div class="col">
                <div class="d-flex justify-content-center">
                    <h2>Your Monthly Payment</h2>
                </div>

            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <table class="table table-striped" id="amoritizationSchedule">
                    <thead class="tableHeader">
                    <tr>
                        <th>Month</th>
                        <th>Payment</th>
                        <th>Principal</th>
                        <th>Interest</th>
                        <th>Total Interest</th>
                        <th>Balance</th>
                    </tr>
                    </thead>
                    <tbody id=amoritizationScheduleBody>
                    <!-- data goes here -->
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</main>
</div>