@model MortgageCalcMVC.Models.MortgageCalc
@{
    ViewData["Title"] = "Loan Calculator";
}

<div class="container mt-5">
    <div class="row">
        <h1 class="appTitle">SoCal Home Buyer</h1>
        <h2 class="lead appTitle fst-italic">A Loan Calculator</h2>

        <form asp-controller="Home" asp-action="App" method="post">
            <div class="col">
                <div class="form-group">
                    <label for="loanAmount">Loan Amount</label>
                    <input type="number" name="Loan Amount" id="loanAmount"
                           class="form-control" aria-describedby="Loan Amount">
                </div>
                <div class="form-group">
                    <label for="loanTerm">Loan Term <i>(in months)</i></label>
                    <input type="number" name="Loan Term" id="loanTerm" class="form-control"
                           aria-describedby="Loan Term">
                </div>
                <div class="form-group">
                    <label for="interestRate">Interest Rate</label>
                    <input type="number" name="Interest Rate" id="interestRate"
                           class="form-control" aria-describedby="Interest Rate">
                </div>
                <div class="d-flex justify-content-end mt-3 p-3">
                    <button class="button btn btn-outline-info" type="button"
                            id="btnSubmit">
                        Calculate
                    </button>
                </div>
            </div>
        </form> 

        <div class="col">
            <div class="d-flex justify-content-center">
                <h2>Your Monthly Payment</h2>
            </div>

        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped table-dark table-hover">
                    <thead>
                    <tr>
                        <th>Month</th>
                        <th>Payment</th>
                        <th>Principal</th>
                        <th>Interest</th>
                        <th>Total Interest</th>
                        <th>Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- data goes here -->
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
